form(method='GET' action='' id='search') Search:
    input(type="text" name="search" placeholder="Search a quadrant like Tools, or a ring like Hold, or search for a specific name")
- var sorted = Object.keys(results).sort();
each letter in sorted
    div.container
        h5 #{letter}
        ul(data-collapsible="accordion").collapsible.popout
            - var blips = results[letter];
            each blip in blips
                li
                    div.collapsible-header
                        span #{blip.name}
                        span(style='color: blue; margin-left: 20px') #{blip.quadrant}
                        span(style='color: red; margin-left: 20px') #{blip.ring}
                        if blip.support
                            span(style='color: orange; margin-left:20px') #{blip.support}
                        - var w = weights ?  weights[blip.id] : null;
                        if w
                            span(style='float:right;color: black;') Support of: #{w}
                    div.collapsible-body
                        p !{blip.description}
                        -var link = "/radar/blips/" + blip.id;
                        a(href=link) Link to Specific Blip
                        br
                        -var item = "/radar/items/" + blip.slug;
                        a(href=item) Link to Item